*.pdf
*.latexmain

!texlive-talk.pdf
!fig/*.pdf

*~
*.swp
*.swo

# tex mid file
*.nav
*.snm
*.vrb
*.aux
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.ps
*.thm
*.toc
*.lof
*.lot
*.loe

